In [1]:
# -*- coding: utf-8 -*-
# Indentation: Visual Studio

'''
create square class using Polygon class
'''

__version__ = 1.0
__author__ = "Sourav Raj"
__author_email__ = "souravraj.iitbbs@gmail.com"

In [2]:
def lesser_num(a, b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
lesser_num(2,4)

2

In [4]:
lesser_num(3,4)

4

In [20]:
def first_match(text):
    str=text.lower().split()
    return str[0][0]==str[1][0]

In [21]:
first_match('level Lama')

True

In [42]:
def check_twenty(a,b):
    return (a==20 or b ==20 or (a+b==20))

In [44]:
check_twenty(15,10)

False

In [45]:
def str_modify(str):
    return str[0].upper()+str[1:3]+str[3].upper()+str[4:]

In [46]:
str_modify('macdonald')

'MacDonald'

In [3]:
def str_modify_2ndway(str):
    return str[:3].capitalize()+str[3:].capitalize()

In [4]:
str_modify_2ndway('macdonald')

'MacDonald'

In [7]:
def rev_sentence(text):
    return ' '.join(text.split()[::-1])

In [8]:
rev_sentence('I am at home')

'home at am I'

In [9]:
'I am at home'.split()[::-1]

['home', 'at', 'am', 'I']

In [4]:
abs(200-1200)

1000

In [5]:
def within_10_of_100or200(n):
    return (abs(100-n)<=10 or abs(200-n)<=10)

In [9]:
within_10_of_100or200(213)

False

problem: return true if array contains a 3 next to 3 somewhere

In [19]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [20]:
has_33([1,3,2,4,33,3])

False

In [21]:
def has_33(nums):
    if ''.join(str(x) for x in a).rfind('33') >-1:
        return True
    return False

In [22]:
has_33([1,3,2,4,33,3])

True

Return string where each letter is repeated three time: am -> aaammm

In [24]:
def repeat_3_times(word):
    result=''
    for char in word:
        result+=char*3
    return result

In [25]:
repeat_3_times('Hello')

'HHHeeellllllooo'

from 3 int b/w 1 & 11, it their sum is less or equal to 21, return their sum. it their sum exceeds 21 and there is an 11, reduce total sum by 10. if sum exceeds 21 even agter adjustment, return BUST

In [31]:
def blackjack(a,b,c):
    if a+b+c <=21:
        return a+b+c
    else:
        if 11 in [a,b,c]:
            return a+b+c-10
        else:
            return 'BUST'

In [32]:
blackjack(5,6,7)

18

In [33]:
blackjack(9,9,9)

'BUST'

In [34]:
blackjack(9,9,11)

19

find sum of array except all the no lies between 6 & 9

In [1]:
def find_sum(arr):
    total=0
    add=True
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break
            else:
                add=False
                break
        while not add:
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [2]:
find_sum([1,6,5])

1

In [3]:
find_sum([1,3,5])

9

In [11]:
def contain_007(nums):
    flag=0
    str1=''
    for num in nums:
        if num==0:
            str1=str1+str(num)
        if num==7:
            str1=str1+str(num)
    return str1.rfind('007') !=-1

In [16]:
contain_007([1,2,4,0,0,7,5])

True

In [17]:
contain_007([1,0,2,4,0,6,7,5])

True

In [18]:
contain_007([1,7,4,0,0,3,5])

False

In [15]:
def contain_007(nums):
    code=[0,0,7,'x']
    for num in nums:
        if num==code[0]:
            code.pop(0)
    return len(code)==1

Count prime numbers exist up to given number

In [22]:
def count_primes(num):
    if num<2:
        return 0
    
    primes=[2]
    x=3
    while x<=num:
        #check if x is prime
        #for y in range(3,x,2): or
        for y in primes:
            if x%y ==0:
                x +=2
                break
        else:
            primes.append(x)
            x+=2
            
    print(primes)
    return len(primes)

In [23]:
count_primes(10)

[2, 3, 5, 7]

4

In [25]:
def print_big(letter):
    patterns={1:'  *  ', 2:' * * ', 3:'*   *', 
             4:'*****', 5:'**** ', 6:'   * ', 
             7:' *  ', 8:'*   *', 9:'*   '}
    alphabet={'A':[1,2,4,3,3], 'B':[5,3,5,3,5], 'C':[4,9,9,9,4], 'D':[5,3,3,3,5], 'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [26]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [28]:
print_big('C')

*****
*
*
*
*****