In [1]:
# -*- coding: utf-8 -*-
# Indentation: Visual Studio

'''
create square class using Polygon class
'''

__version__ = 1.0
__author__ = "Sourav Raj"
__author_email__ = "souravraj.iitbbs@gmail.com"

In [2]:
import pandas as pd
import numpy as np

In [3]:
dates = pd.date_range('01/12/2000', periods = 8)

In [4]:
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns = ['A', 'B', 'C', 'D'])

In [5]:
df

                   A         B         C         D
2000-01-12  0.731521  1.385326  0.474791  0.246368
2000-01-13 -0.642144  0.297049 -1.057597  0.052490
2000-01-14  0.508796  1.329939  2.097644  0.214907
2000-01-15  0.343356  1.645979 -0.787874 -0.288615
2000-01-16 -0.361703  1.050448  0.109604  1.272104
2000-01-17  1.669394  1.210338  1.104604  0.541889
2000-01-18 -0.281746 -0.556590  1.388499  1.587478
2000-01-19  0.291686  0.233198 -0.896226  0.326833

In [6]:
df['A'] = df['A']/2

In [7]:
df.index

DatetimeIndex(['2000-01-12', '2000-01-13', '2000-01-14', '2000-01-15',
               '2000-01-16', '2000-01-17', '2000-01-18', '2000-01-19'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [9]:
df.values

array([[ 0.36576063,  1.38532648,  0.47479063,  0.24636772],
       [-0.3210718 ,  0.29704903, -1.05759748,  0.0524904 ],
       [ 0.25439817,  1.3299392 ,  2.09764434,  0.21490749],
       [ 0.17167821,  1.64597852, -0.78787435, -0.28861489],
       [-0.18085141,  1.05044765,  0.10960378,  1.27210363],
       [ 0.83469704,  1.21033778,  1.10460394,  0.54188899],
       [-0.14087307, -0.55658977,  1.38849925,  1.5874781 ],
       [ 0.14584294,  0.2331977 , -0.89622619,  0.32683314]])

In [10]:
df.describe()

              A         B         C         D
count  8.000000  8.000000  8.000000  8.000000
mean   0.141198  0.824461  0.304180  0.494182
std    0.366861  0.754036  1.170342  0.629967
min   -0.321072 -0.556590 -1.057597 -0.288615
25%   -0.150868  0.281086 -0.814962  0.174303
50%    0.158761  1.130393  0.292197  0.286600
75%    0.282239  1.343786  1.175578  0.724443
max    0.834697  1.645979  2.097644  1.587478

In [11]:
df.T

,2000-01-12 00:00:00,2000-01-13 00:00:00,2000-01-14 00:00:00,2000-01-15 00:00:00,2000-01-16 00:00:00,2000-01-17 00:00:00,2000-01-18 00:00:00,2000-01-19 00:00:00
A,0.365761,-0.321072,0.254398,0.171678,-0.180851,0.834697,-0.140873,0.145843
B,1.385326,0.297049,1.329939,1.645979,1.050448,1.210338,-0.556590,0.233198
C,0.474791,-1.057597,2.097644,-0.787874,0.109604,1.104604,1.388499,-0.896226
D,0.246368,0.052490,0.214907,-0.288615,1.272104,0.541889,1.587478,0.326833

In [24]:
df.reset_index(True)

       index         A         B         C         D
0 2000-01-12  0.365761  1.385326  0.474791  0.246368
1 2000-01-13 -0.321072  0.297049 -1.057597  0.052490
2 2000-01-14  0.254398  1.329939  2.097644  0.214907
3 2000-01-15  0.171678  1.645979 -0.787874 -0.288615
4 2000-01-16 -0.180851  1.050448  0.109604  1.272104
5 2000-01-17  0.834697  1.210338  1.104604  0.541889
6 2000-01-18 -0.140873 -0.556590  1.388499  1.587478
7 2000-01-19  0.145843  0.233198 -0.896226  0.326833

In [23]:
df.set_index('A')

                  B         C         D
A
 0.365761  1.385326  0.474791  0.246368
-0.321072  0.297049 -1.057597  0.052490
 0.254398  1.329939  2.097644  0.214907
 0.171678  1.645979 -0.787874 -0.288615
-0.180851  1.050448  0.109604  1.272104
 0.834697  1.210338  1.104604  0.541889
-0.140873 -0.556590  1.388499  1.587478
 0.145843  0.233198 -0.896226  0.326833

In [31]:
df.sort_index(axis =1, ascending =True)

                   A         B         C         D
2000-01-12  0.365761  1.385326  0.474791  0.246368
2000-01-13 -0.321072  0.297049 -1.057597  0.052490
2000-01-14  0.254398  1.329939  2.097644  0.214907
2000-01-15  0.171678  1.645979 -0.787874 -0.288615
2000-01-16 -0.180851  1.050448  0.109604  1.272104
2000-01-17  0.834697  1.210338  1.104604  0.541889
2000-01-18 -0.140873 -0.556590  1.388499  1.587478
2000-01-19  0.145843  0.233198 -0.896226  0.326833

In [33]:
df.sort(columns = 'A')

C:\python\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   A         B         C         D
2000-01-13 -0.321072  0.297049 -1.057597  0.052490
2000-01-16 -0.180851  1.050448  0.109604  1.272104
2000-01-18 -0.140873 -0.556590  1.388499  1.587478
2000-01-19  0.145843  0.233198 -0.896226  0.326833
2000-01-15  0.171678  1.645979 -0.787874 -0.288615
2000-01-14  0.254398  1.329939  2.097644  0.214907
2000-01-12  0.365761  1.385326  0.474791  0.246368
2000-01-17  0.834697  1.210338  1.104604  0.541889

In [34]:
df.A

2000-01-12    0.365761
2000-01-13   -0.321072
2000-01-14    0.254398
2000-01-15    0.171678
2000-01-16   -0.180851
2000-01-17    0.834697
2000-01-18   -0.140873
2000-01-19    0.145843
Freq: D, Name: A, dtype: float64

In [35]:
df['A']

2000-01-12    0.365761
2000-01-13   -0.321072
2000-01-14    0.254398
2000-01-15    0.171678
2000-01-16   -0.180851
2000-01-17    0.834697
2000-01-18   -0.140873
2000-01-19    0.145843
Freq: D, Name: A, dtype: float64

In [36]:
df[0:3]

                   A         B         C         D
2000-01-12  0.365761  1.385326  0.474791  0.246368
2000-01-13 -0.321072  0.297049 -1.057597  0.052490
2000-01-14  0.254398  1.329939  2.097644  0.214907

In [37]:
df[0:3]['A']

2000-01-12    0.365761
2000-01-13   -0.321072
2000-01-14    0.254398
Freq: D, Name: A, dtype: float64

In [38]:
df['2000-01-12':'2000-01-17']

                   A         B         C         D
2000-01-12  0.365761  1.385326  0.474791  0.246368
2000-01-13 -0.321072  0.297049 -1.057597  0.052490
2000-01-14  0.254398  1.329939  2.097644  0.214907
2000-01-15  0.171678  1.645979 -0.787874 -0.288615
2000-01-16 -0.180851  1.050448  0.109604  1.272104
2000-01-17  0.834697  1.210338  1.104604  0.541889

In [40]:
df['A','B']

KeyError: ('A', 'B')

In [41]:
df.loc[dates[0]]

A    0.365761
B    1.385326
C    0.474791
D    0.246368
Name: 2000-01-12 00:00:00, dtype: float64

In [45]:
df.loc[dates[1]]

A   -0.321072
B    0.297049
C   -1.057597
D    0.052490
Name: 2000-01-13 00:00:00, dtype: float64

In [48]:
df.loc[:,['A', 'C']]

                   A         C
2000-01-12  0.365761  0.474791
2000-01-13 -0.321072 -1.057597
2000-01-14  0.254398  2.097644
2000-01-15  0.171678 -0.787874
2000-01-16 -0.180851  0.109604
2000-01-17  0.834697  1.104604
2000-01-18 -0.140873  1.388499
2000-01-19  0.145843 -0.896226

In [50]:
df.loc['2000-01-13':'2000-01-27',['A', 'C']]

                   A         C
2000-01-13 -0.321072 -1.057597
2000-01-14  0.254398  2.097644
2000-01-15  0.171678 -0.787874
2000-01-16 -0.180851  0.109604
2000-01-17  0.834697  1.104604
2000-01-18 -0.140873  1.388499
2000-01-19  0.145843 -0.896226

In [51]:
df.loc['2000-01-13',['A', 'C']]

A   -0.321072
C   -1.057597
Name: 2000-01-13 00:00:00, dtype: float64

In [52]:
df.loc[dates[0],['A', 'C']]

A    0.365761
C    0.474791
Name: 2000-01-12 00:00:00, dtype: float64

In [55]:
df.at[dates[0],'A']

0.36576063257694236

In [56]:
df.at[dates[0],'A', 'C']

TypeError: get_value() got multiple values for keyword argument 'takeable'

In [57]:
df.iloc[3]

A    0.171678
B    1.645979
C   -0.787874
D   -0.288615
Name: 2000-01-15 00:00:00, dtype: float64

In [58]:
df.iloc[3, 0:2]

A    0.171678
B    1.645979
Name: 2000-01-15 00:00:00, dtype: float64

In [59]:
df.iloc[3:5, 1:3]

                   B         C
2000-01-15  1.645979 -0.787874
2000-01-16  1.050448  0.109604

In [61]:
df.iloc[1:3, :]

                   A         B         C         D
2000-01-13 -0.321072  0.297049 -1.057597  0.052490
2000-01-14  0.254398  1.329939  2.097644  0.214907

In [62]:
df.iloc[1,1]

0.29704902613089057

In [63]:
df.iat[1,1]

0.29704902613089057

In [64]:
df[df['A']>0]

                   A         B         C         D
2000-01-12  0.365761  1.385326  0.474791  0.246368
2000-01-14  0.254398  1.329939  2.097644  0.214907
2000-01-15  0.171678  1.645979 -0.787874 -0.288615
2000-01-17  0.834697  1.210338  1.104604  0.541889
2000-01-19  0.145843  0.233198 -0.896226  0.326833

In [65]:
df[df.A>1]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [66]:
df[df>0]

                   A         B         C         D
2000-01-12  0.365761  1.385326  0.474791  0.246368
2000-01-13       NaN  0.297049       NaN  0.052490
2000-01-14  0.254398  1.329939  2.097644  0.214907
2000-01-15  0.171678  1.645979       NaN       NaN
2000-01-16       NaN  1.050448  0.109604  1.272104
2000-01-17  0.834697  1.210338  1.104604  0.541889
2000-01-18       NaN       NaN  1.388499  1.587478
2000-01-19  0.145843  0.233198       NaN  0.326833

In [72]:
df2 = df.copy()

In [74]:
df2['E']=['one', 'one','two','three','four','three', 'four','three']

In [75]:
df2

                   A         B         C         D      E
2000-01-12  0.365761  1.385326  0.474791  0.246368    one
2000-01-13 -0.321072  0.297049 -1.057597  0.052490    one
2000-01-14  0.254398  1.329939  2.097644  0.214907    two
2000-01-15  0.171678  1.645979 -0.787874 -0.288615  three
2000-01-16 -0.180851  1.050448  0.109604  1.272104   four
2000-01-17  0.834697  1.210338  1.104604  0.541889  three
2000-01-18 -0.140873 -0.556590  1.388499  1.587478   four
2000-01-19  0.145843  0.233198 -0.896226  0.326833  three

In [76]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2000-01-14  0.254398  1.329939  2.097644  0.214907   two
2000-01-16 -0.180851  1.050448  0.109604  1.272104  four
2000-01-18 -0.140873 -0.556590  1.388499  1.587478  four

In [83]:
a = "", ""

In [84]:
a

('', '')