In [1]:
# -*- coding: utf-8 -*-
# Indentation: Jupyter Notebook

'''
pandas exploration
'''

__version__ = 1.0
__author__ = "Sourav Raj"
__author_email__ = "souravraj.iitbbs@gmail.com"

In [2]:
import pandas as pd

In [3]:
'hello'.upper()

'HELLO'

In [9]:
orders = pd.read_csv('http://bit.ly/drinksbycountry')
#orders = pd.read_csv("C:/Users/sourav.raj.IN/Documents/PythonScripts/learn/orders.txt")

In [10]:
orders.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [12]:
orders.country.str.upper().head()

0    AFGHANISTAN
1        ALBANIA
2        ALGERIA
3        ANDORRA
4         ANGOLA
Name: country, dtype: object

In [14]:
orders.country.str.contains('An').head()

0    False
1    False
2    False
3     True
4     True
Name: country, dtype: bool

In [15]:
orders[orders.country.str.contains('An')]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America

In [19]:
# we can chain string methods
orders.country.str.replace('A','').str.replace('a','').head()

0    fghnistn
1        lbni
2       lgeri
3       ndorr
4        ngol
Name: country, dtype: object

In [28]:
orders.country.str.replace('[\A]','').head()

0    fghanistan
1        lbania
2        lgeria
3        ndorra
4         ngola
Name: country, dtype: object

In [31]:
orders.country.str.replace('[\a]','').head()

0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
Name: country, dtype: object